<main class="container">
  <%= turbo_frame_tag 'header_frame' do %>
    <div class="header">
      <h1>Add quotes</h1>
      <%= link_to "New quote", new_quote_path, class: "btn btn--primary", data: { turbo_frame: dom_id(Quote.new) } %>
    </div>
  <% end %>

  <%= turbo_frame_tag('new_quote') {} %>
  <%= turbo_frame_tag 'quotes' do %>
    <%= render @quotes %>
  <% end %>
</main>
